<!DOCTYPE html>

<html>
    <head>
        <title>Rango - {% block title %}How to Tango with Django!{% endblock %}</title>
    </head>

    <body>
        <div>
            {% block body_block %}{% endblock %}
        </div>

        <hr />

        <div>
		<form action="{% url 'index' %}">
			<input type="submit" value="Index">
		</form>
		
        <form action="{% url 'about' %}">
			<input type="submit" value="About">
		</form>
		
		
	{% if user.is_authenticated %}
		<form action="{% url 'add_category' %}">
			<input type="submit" value="Add a new Category">
		</form>
		
		<form action="{% url 'restricted' %}">
			<input type="submit" value="Restricted Page">
		</form>
	
		<form action="{% url 'logout' %}">
			<input type="submit" value="Logout">
		</form>
	{% else %}
		<form action="{% url 'register' %}">
			<input type="submit" value="Register Here">
		</form>
		<form action="{% url 'login' %}">
			<input type="submit" value="Login">
		</form>
	{% endif %}
        </div>
    </body>
</html>