<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        {% if user.is_authenticated %}
		<h1>Rango says... hello {{ user.username }}!</h1>
		{% else %}
		<h1>Rango says... hello world!</h1>
		{% endif %}

	Top 5 Most Liked Categories:
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
	</br>

	Top 5 Most Viewed Pages:
	{% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no pages present.</strong>
       {% endif %}

	<form action="{% url 'about' %}">
		<input type="submit" value="About">
	</form>
	{% if user.is_authenticated %}
		<form action="{% url 'add_category' %}">
			<input type="submit" value="Add a new Category">
		</form>
		
		<form action="{% url 'restricted' %}">
			<input type="submit" value="Restricted Page">
		</form>
	
		<form action="{% url 'logout' %}">
			<input type="submit" value="Logout">
		</form>
	{% else %}
		<form action="{% url 'register' %}">
			<input type="submit" value="Register Here">
		</form>
		<form action="{% url 'login' %}">
			<input type="submit" value="Login">
		</form>
	{% endif %}

    </body>
</html>